.container-login {
    background: url('imgs/login.jpg') no-repeat center center fixed; 
    background-size: cover;
}

.full-height-row {
    height: 100vh;
}

.panel-login {
    transform: translateY(35%);
    display: inline-block;
    width: 400px;
}

.login-header-img {
    height: 80px;
}